.pnp.*
.yarn/*

!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

build
dist
node_modules
packages/docs/vite-root/src/components.json
web/src/components
web/src/system.css
web/docs

.DS_Store
.netlify
.svelte-kit
